<?xml version="1.0"?>
<config>
    <modules>
        <Creativestyle_Dev>
            <version>0.1.1</version>
        </Creativestyle_Dev>
    </modules>
    <frontend>
        <routers>
            <devrouter>
                <use>standard</use>
                <args>
                    <module>Creativestyle_Dev</module>
                    <frontName>creativestyle-dev</frontName>
                </args>
            </devrouter>
        </routers>
    </frontend>
    <global>

        <blocks>
            <creativestyle_dev>
                <class>Creativestyle_Dev_Block</class>
            </creativestyle_dev>
            <page>
                <rewrite>
                    <html_head>Creativestyle_Dev_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <creativestyle_dev>
                <class>Creativestyle_Dev_Helper</class>
            </creativestyle_dev>
        </helpers>
        <models>
            <creativestyle_dev>
                <class>Creativestyle_Dev_Model</class>
            </creativestyle_dev>
        </models>
        <resources>
            <dev_setup>
                <setup>
                    <module>Creativestyle_Dev</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dev_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <firsteventever>
                        <class>Creativestyle_Dev_Model_Observer</class>
                        <method>checkCookie</method>
                    </firsteventever>
                </observers>
            </controller_action_predispatch>
        </events>

    </global>
    <adminhtml>
        <layout>
            <updates>
                <creativestyle_dev>
                    <file>creativestyle_dev.xml</file>
                </creativestyle_dev>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <csoptions>
                <cookie_lifetime>7</cookie_lifetime>
                <cookie_name>creativestyle_debug_cookie</cookie_name>
                <key>access-key-must-be-secure</key>

            </csoptions>
        </dev>
    </default>
</config>